.btn{
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 400;
    padding: 13px 23px;
    border: none;
    color: white;
    outline: none;
    background-color: blue;
    box-shadow: inset 0 0 0 0 yellow;
    transition: all 0.8s ease-out;
}

.btn:hover{
    box-shadow: inset 200px 0 0 0 yellow;

  color: rgb(0, 0, 0);
}