.footer{
    display: flex;
    justify-content: space-evenly;
    background-color: blue;
    color: white;
    padding: 70px 20px;
    flex-wrap: wrap;
}

.footer__details{
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__nav{
    padding: 40px;

}

.footer__list{
    display: flex;
    flex-direction: column;
}

.footer__list a{
    color: white;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
}

.footer__form{
    padding: 40px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__form input{
    font-size: 1rem;
    padding: 8px 4px;
    outline: none;
}

.footer__button{
    font-size: 1rem;
    padding: 9px 5px;
    background-color: rgb(10, 10, 85);
    border: none;
    color: white;
    transition: all .3s ease-out;
}

.footer__button:hover{
    background-color: rgb(10, 10, 196);
}
