* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.nav-div {
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  cursor: pointer;
}

.nav-div button {
  cursor: pointer;
  background-color: blue;
  padding: 10px 28px;
  border-radius: 22px;
  color: white;
  font-size: 1rem;
  border: none;
}
.list {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 1.5rem;
}

.list a {
  text-decoration: none;
  color: black;

  padding: 0px 20px;
}

@media screen and (max-width: 900px) {
  .nav-div {
    padding: 10px;
  }
  .list {
    display: none;
    z-index: 111;
    width: 100%;
    display: block;
    position: absolute;
    text-align: center;
    top: 70px;
    background-color: rgba(29, 29, 196, 0.815);
    height: 0;
  }
  .list a {
    padding: 40px 0;
    color: white;
  }
}
