.about-container {
  padding: 50px 10px;
  background-color: rgb(83, 83, 253);
  color: white;
}
.about-left img{
  max-width: 70%;
}
.about-right h2{
  font-size: 3.5rem;
  font-weight: bold;
}
.about-right{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
p{
  font-size: 1rem;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.823);
}
@media (min-width:980px){
  .about-right h2{
    font-size: 3rem;
  }
  .about-container{
    padding: 50px 80px;
  }
}